<div class="bottommenu" ng-controller="BottomMenuController">

  <div id="main">
    <!-- moduleIdentifier + Template -->
    <div ng-include="bottommenuTemplate"></div>
  </div>

  <div id="menu" ng-class="bottommenu.modulescope.showtopborder ? 'bordered' : ''" ng-style="bottommenu.modulescope.backgroundColor && {'background-color': bottommenu.modulescope.backgroundColor}">
    <koa-grid columns="{{bottommenu.modules.length}}">
      <a href="{{module.url}}" ng-class="($index === currentIndex) ? 'selected' : '' " ng-repeat="module in bottommenu.modules" style="background-image: url('{{module.backgroundImage}}'); background-color: {{module.backgroundColor}};">
        <koa-icon icon="{{module.icon}}" ng-if="bottommenu.modulescope.showicons"></koa-icon>
        <div ng-if="bottommenu.modulescope.showtext">{{module.text}}</div>
      </a>
    </koa-grid>
  </div>

</div>
